
<%= simple_form_for(@tape, :html => { :class => 'form'}) do |f| %>
  <% if @tape.errors.any? %>
    <div class="alert alert-error">
      <strong><%= pluralize(@tape.errors.count, "error") %> prohibited this tape from being saved:</strong>
      <ul>
      <% @tape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.input :edited, :as => :hidden, :input_html => {:value => '1' }%>
  <%= f.input :description, label: 'Description' %>
<div class='btn-group'>
 	<%= f.button :submit, 'Update', class: 'btn-large btn-success'  %>
 <% end %>
<% if  @tape.edited.nil? %>
<%= link_to 'Undo', '#', class: "btn" %>
<% else %>
<%= link_to 'Undo', revert_version_path(@tape.versions.last), :method => :post, class: "btn-large btn-danger" %>
<% end %>
</div>