<div id="index-btn">
<%= simple_form_for(@tape, :html => { :class => 'form input-large'}) do |f| %>
  <% if @tape.errors.any? %>
    <div class="alert alert-error">
      <strong><%= pluralize(@tape.errors.count, "error") %> prohibited this tape from being saved:</strong>
      <ul>
      <% @tape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.input :edited, :as => :hidden, :input_html => {:value => '1' }%>
  <%= f.input :description, label: 'Description' %>
	<%= f.association :location, :selected => 1, :label_method => :location, 
			:value_method => :id,  label: "Location" %>
	<div class='btn-group'>
  	<%= f.button :submit, 'Update', class: 'btn-primary'  %>
  	<%= link_to 'Cancel', tape_path, class: "btn btn-danger" %>
	</div>
<% end %>
</div>