<h1>
	<%= @tape.description %>
</h1>
<h3>
	Tape Number:
	<%= @tape.number %>
</h3>
<h3>
	<%= link_to code, print_tape_path(@tape) %> 
</h3>
<div id="navbar">
<br>
<div class="btn-group">
<%= link_to 'Edit', edit_tape_path(@tape), class: "btn btn-inverse" %> 
<%= link_to 'Index', tapes_path, class: "btn btn-inverse" %>
<%= link_to 'Print', print_tape_path(@tape), class: "btn btn-inverse" %>
<%= link_to 'Delete', @tape, :class => "btn btn-danger" , confirm: 'Are you sure?', method: :delete %>	
</div>