<h1>
	<%= @tape.number %> | <%= @tape.description %>
</h1>
<h3>
	Location: <%= link_to @location, location_path(@tape.location_id) %>
	
</h3>
<h3>
	<%= link_to code, print_tape_path(@tape) %> 
</h3>
<div id="navbar">
<br>
<div class="btn-group">
<%= link_to 'Edit', edit_tape_path(@tape), class: "btn btn-inverse" %> 
<%= link_to 'Tapes', root_path, class: "btn btn-inverse" %>
<%= link_to 'Location', location_path(@tape.location_id), class: "btn btn-inverse" %>
<%= link_to 'Print', print_tape_path(@tape), class: "btn btn-warning" %>
<% if  @tape.edited.nil? %>
<%= link_to 'Undo', '#', class: "btn" %>
<% else %>
<%= link_to 'Undo', revert_version_path(@tape.versions.last), :method => :post, class: "btn btn-danger" %>
<% end %>
</div>